$accentColor = #424242
$textColor = #232321

// change code font to Source Code Pro and 
// bold Keyword
.content__default
  code
    font-family "Source Code Pro"
    .token
        &.keyword
            font-weight bold